
language: node_js
sudo: false
services:
  - postgresql
  - redis-server
before_script:
  - cp .env_sample .env
  - psql -c 'create database apulum-graphql-api;' -U postgres
node_js:
  - 10.0.0
install:
  - yarn
script:
  - yarn test-ci
